---
layout: page
title: Projects
---

{{ content }}

<!-- Projects List Container -->
<div class="projects-container">
  <ul class="projects-list list-unstyled" role="list">
    {% for project in site.projects %}
    <li class="project-preview card">
      <article>
        
        <!-- Project Thumbnail -->
        {%- capture thumbnail -%}
          {% if project.thumbnail-img %}
            {{ project.thumbnail-img }}
          {% elsif project.cover-img %}
            {% if project.cover-img.first %}
              {{ project.cover-img[0].first.first }}
            {% else %}
              {{ project.cover-img }}
            {% endif %}
          {% endif %}
        {% endcapture %}
        {% assign thumbnail = thumbnail | strip %}

        {% if thumbnail != "" %}
        <div class="project-image">
          <a href="{{ project.url | absolute_url }}" aria-label="Thumbnail">
            <img src="{{ thumbnail | absolute_url }}" alt="Project thumbnail">
          </a>
        </div>
        {% endif %}

        <!-- Project Title & Subtitle -->
        <div class="project-details">
          <a href="{{ project.url | absolute_url }}">
            <h2 class="project-title">{{ project.title | strip_html }}</h2>
            {% if project.subtitle %}
              <h3 class="project-subtitle">{{ project.subtitle | strip_html }}</h3>
            {% endif %}
          </a>
        </div>

        <!-- Project Meta (Date) -->
        <p class="project-meta">
          {% assign date_format = site.date_format | default: "%B %-d, %Y" %}
          <strong>Created on:</strong> {{ project.date | date: date_format }}
        </p>

        <!-- Project Excerpt -->
        <div class="project-entry">
          {% assign excerpt_length = site.excerpt_length | default: 50 %}
          {{ project.excerpt | strip_html | truncatewords: excerpt_length }}
          {% assign excerpt_word_count = project.excerpt | number_of_words %}
          {% if project.content != project.excerpt or excerpt_word_count > excerpt_length %}
            <a href="{{ project.url | absolute_url }}" class="project-read-more">[Read&nbsp;More]</a>
          {% endif %}
        </div>

        <!-- Project Tags -->
        {% if project.tags.size > 0 %}
        <div class="project-tags">
          <strong>Tags:</strong>
          <ul class="d-inline list-inline" role="list">
            {% for tag in project.tags %}
            <li class="list-inline-item">
              <a href="{{ '/tags' | absolute_url }}#{{- tag -}}" class="tag">#{{- tag -}}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </article>
    </li>
    {% endfor %}
  </ul>
</div>
